# **Module 1**

### **1.1 Import csv file of stock...**

In [191]:
import pandas as pd
sdf = pd.read_csv("C:/Users/sakshi/Desktop/ai/INFY.csv")
sdf

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [192]:
sdf.drop(sdf[sdf['Series']!='EQ'].index,inplace=True)
sdf.shape

(494, 15)

In [193]:
#repetitions in date is removed succesfully
x=sdf[sdf['Series']!='EQ']
x

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total Traded Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty]
Index: []

In [194]:
#top 5 elements of dataframe
sdf.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [195]:
#bottom 5 element of dataframe
sdf.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.7,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.5,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.8,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.0,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.1,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [196]:
#dimension of dataframe
sdf.shape

(494, 15)

In [197]:
#details about the dataframe
sdf.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,4.940000e+02,4.940000e+02,494.000000
mean,961.440789,961.070040,971.092713,951.052733,960.845648,960.945749,961.166498,6.056365e+06,5.469840e+09,1.361482e+05,3.605878e+06,61.759008
std,220.761549,220.091227,222.968974,218.714372,220.968590,221.029267,221.102384,5.451445e+06,4.770342e+09,8.557589e+04,2.840733e+06,9.924135
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.100000,613.780000,5.457170e+05,5.060941e+08,1.388600e+04,3.077410e+05,26.380000
25%,735.025000,736.187500,742.700000,729.012500,734.125000,734.462500,735.720000,3.148044e+06,3.350973e+09,9.246300e+04,2.064895e+06,55.142500
50%,956.750000,957.525000,964.775000,948.000000,956.025000,955.975000,955.060000,4.905804e+06,4.601808e+09,1.197605e+05,3.053880e+06,62.270000
75%,1150.150000,1145.412500,1161.675000,1135.962500,1147.950000,1150.150000,1148.280000,7.303918e+06,6.042062e+09,1.551745e+05,4.332777e+06,68.767500
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.100000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,88.700000

### **1.2 max,min,mean price for last 90 days**

In [198]:
#last date is 13-may-19 so 90 days before this is 12-feb-19
#this is the range for applying opertaions
x=sdf[sdf['Date']=='12-Feb-2019'].index
x

Int64Index([435], dtype='int64')

In [199]:
#last 90 days record
sdf_90=sdf.iloc[435:]
sdf_90.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
435,INFY,EQ,12-Feb-2019,762.80,760.35,760.35,741.00,750.40,750.45,748.38,7310690,5.471189e+09,148513,3259568,44.59
436,INFY,EQ,13-Feb-2019,750.45,750.10,759.70,743.65,754.00,754.90,753.01,5050182,3.802821e+09,133702,2418277,47.88
437,INFY,EQ,14-Feb-2019,754.90,751.00,753.00,737.25,740.35,740.05,745.60,4610535,3.437611e+09,113149,2466085,53.49
438,INFY,EQ,15-Feb-2019,740.05,742.30,746.50,732.60,742.05,741.95,739.44,5586389,4.130796e+09,93850,2900003,51.91
439,INFY,EQ,18-Feb-2019,741.95,742.35,747.65,736.00,741.00,741.05,739.90,5346825,3.956112e+09,105532,3060004,57.23

In [200]:
#minimum closing price in last 90 days
sdf_90['Close Price'].min()

706.95

In [201]:
#maximum closing Price in last 90 days
sdf_90['Close Price'].max()

767.25

In [202]:
sdf_90['Close Price'].mean()

733.9983050847458

### **1.3 data type of each column**

In [203]:
#Data type of each column.
sdf.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [204]:
#column type of date is changed 
sdf=sdf.astype({'Date':'datetime64[ns]'})
sdf.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [205]:
sdf['Date'].dtype

dtype('<M8[ns]')

In [206]:
#min date value substracted from min value
#pd.to_datetime(sdf['Date'])
x=sdf['Date'].max()-sdf['Date'].min()
type(x.days)

int

### **1.4 Calculate monthwise VWAP**

**VWAP is Volume Weighted Average Price**

VWAP = sum(price*volume)/sum(volume)

In [207]:
#create new dataframe column for month and year using datetimeindex
sdf['Month']=pd.DatetimeIndex(sdf['Date']).month
sdf['Year']=pd.DatetimeIndex(sdf['Date']).year
sdf

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year
0,INFY,EQ,2017-05-15,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,5,2017
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,5,2017
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,5,2017
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,5,2017
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,5,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,2019-05-07,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21,5,2019
492,INFY,EQ,2019-05-08,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24,5,2019
493,INFY,EQ,2019-05-09,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01,5,2019
494,INFY,EQ,2019-05-10,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39,5,2019
495,INFY,EQ,2019-05-13,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70,5,2019

In [208]:
#next step is calculating VWAP
sdf['VWAP']=(sdf['Close Price']*sdf['Total Traded Quantity']).cumsum()/sdf['Total Traded Quantity'].cumsum()
#new df for vwap 
vwap_sdf = sdf[['Month','Year','VWAP']]
grp_vwap=vwap_sdf.groupby(['Month','Year'])
grp_vwap.first()

                   VWAP
Month Year
1     2018   942.798752
      2019   958.297204
2     2018   966.688007
      2019   936.770998
3     2018   980.518727
      2019   928.194468
4     2018   992.361772
      2019   916.107946
5     2017   951.550000
      2018  1007.776499
      2019   905.737736
6     2017   969.320340
      2018  1018.175183
7     2017   955.028052
      2018  1031.137530
8     2017   965.949838
      2018  1052.726530
9     2017   937.982563
      2018  1069.856520
10    2017   930.801336
      2018  1041.001277
11    2017   931.023194
      2018  1007.459947
12    2017   935.370098
      2018   978.571537

### **1.5 Average price and profit/loss function over last N days**

In [209]:
def avg_price(n):
    t=0
    for i in range(494,1,-1):
        if i in sdf.index:
            if(n==(sdf['Date'][495]-sdf['Date'][i]).days):
                #print(n,i)
                t=i
                #print(t)
                break
        #print(i)
    g=sdf.iloc[t:]
    return((g['Average Price'].sum())/n)

In [210]:

print("Average Price after")
print("1 Week:",avg_price(7))
print('2 week:',avg_price(13))
print("1 month:",avg_price(31))
print("3 month:",avg_price(90))
print("6 month:",avg_price(180))
print("1 year:",avg_price(364))

Average Price after
1 Week: 412.0142857142858
2 week: 388.6107692307693
1 month: 375.018064516129
3 month: 481.2725555555555
6 month: 478.08644444444445
1 year: 608.6076098901099

In [211]:
def day(n):
    t=0
    for i in range(494,1,-1):
        if i in sdf.index:
            if(n==(sdf['Date'][495]-sdf['Date'][i]).days):
                #print(n,i)
                t=i
                #print(t)
                break
    return t
    
def pro_loss(x):
    n=day(x)

    difference=sdf['Close Price'].tail(n).iloc[n-1]-sdf['Close Price'].tail(n).iloc[0]
    if(difference<0):
        #loss
        loss=difference*-1
        loss_per=(loss/(sdf['Close Price'].tail(n).iloc[n-1]))*100
        return ('Loss-',loss_per)
    elif(difference>0):
        #profit
        pro_per=(difference/(sdf['Close Price'].tail(n).iloc[n-1]))*100
        return('Profit-',pro_per)
    else:
        #no profit no loss
        return ("stable")

In [212]:
print("Profit/loss after")
print("1 Week:",pro_loss(7))
print('2 week:',pro_loss(13))
print("1 month:",pro_loss(31))
print("3 month:",pro_loss(90))
print("6 month:",pro_loss(180))
print("1 year:",pro_loss(364))

Profit/loss after
1 Week: ('Loss-', 33.10407114075309)
2 week: ('Loss-', 32.66638877309988)
1 month: ('Loss-', 36.07753230512713)
3 month: ('Loss-', 34.53522300958732)
6 month: ('Loss-', 32.76365152146727)
1 year: ('Loss-', 62.28984299013477)

### **1.6 Percentage change**

In [213]:
sdf['Day_Perc_Change']=sdf['Close Price'].pct_change().fillna(0)
sdf

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,INFY,EQ,2017-05-15,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,5,2017,951.550000,0.000000
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,5,2017,953.125077,0.003626
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,5,2017,953.067084,-0.002304
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,5,2017,955.934447,0.009393
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,5,2017,956.233874,-0.003951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,2019-05-07,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21,5,2019,904.435998,0.008561
492,INFY,EQ,2019-05-08,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24,5,2019,904.046560,-0.007177
493,INFY,EQ,2019-05-09,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01,5,2019,903.591847,0.002363
494,INFY,EQ,2019-05-10,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39,5,2019,903.069330,-0.005825
495,INFY,EQ,2019-05-13,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70,5,2019,902.652009,0.003976

### **1.7 Trend Column**

In [217]:
def tre(sdf):
    if((sdf['Day_Perc_Change']>(-0.005)) & (sdf['Day_Perc_Change']<0.005)):
        val="Slight or No change"
    elif((sdf['Day_Perc_Change']>0.005) & (sdf['Day_Perc_Change']<0.01)):
        val="Slight positive"
    elif((sdf['Day_Perc_Change']>(-.01)) & (sdf['Day_Perc_Change']<(-0.005))):
        val='Slight Negative'
    elif((sdf['Day_Perc_Change']>.01) & (sdf['Day_Perc_Change']<.03)):
        val='Positive'
    elif((sdf['Day_Perc_Change']>(-.03)) & (sdf['Day_Perc_Change']<(-.01))):
        val='Negative'
    elif((sdf['Day_Perc_Change']>.03) & (sdf['Day_Perc_Change']<.07)):
        val='Among top gainers'
    elif((sdf['Day_Perc_Change']>(-.07)) & (sdf['Day_Perc_Change']<(-.03))):
        val='Among top losers'
    elif(sdf['Day_Perc_Change']>.07):
        val='Bull run'
    elif(sdf['Day_Perc_Change']<(-.07)):
        val='Bear drop'
    return val

In [218]:
sdf['Trends'] = sdf[:].apply(tre, axis = 1) 
sdf

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trends
0,INFY,EQ,2017-05-15,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,5,2017,951.550000,0.000000,Slight or No change
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,5,2017,953.125077,0.003626,Slight or No change
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,5,2017,953.067084,-0.002304,Slight or No change
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,5,2017,955.934447,0.009393,Slight positive
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,5,2017,956.233874,-0.003951,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,2019-05-07,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21,5,2019,904.435998,0.008561,Slight positive
492,INFY,EQ,2019-05-08,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24,5,2019,904.046560,-0.007177,Slight Negative
493,INFY,EQ,2019-05-09,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01,5,2019,903.591847,0.002363,Slight or No change
494,INFY,EQ,2019-05-10,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39,5,2019,903.069330,-0.005825,Slight Negative
495,INFY,EQ,2019-05-13,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70,5,2019,902.652009,0.003976,Slight or No change

### **1.8 Average and median for Total Traded Quantity**

In [219]:
sdf.groupby('Trends').mean()['Total Traded Quantity']

Trends
Among top gainers      1.259063e+07
Among top losers       1.463854e+07
Bear drop              4.878630e+07
Negative               5.634151e+06
Positive               6.655530e+06
Slight Negative        5.454672e+06
Slight or No change    4.647983e+06
Slight positive        5.848807e+06
Name: Total Traded Quantity, dtype: float64

In [220]:
sdf.groupby('Trends').median()['Total Traded Quantity']

Trends
Among top gainers      12042170.5
Among top losers       10985897.0
Bear drop              48786302.0
Negative                5088554.0
Positive                5523811.5
Slight Negative         4616803.0
Slight or No change     4043539.5
Slight positive         5301784.0
Name: Total Traded Quantity, dtype: float64

### **1.9 Save as csv file**

In [221]:
sdf.to_csv('C:/Users/sakshi/Desktop/ai/week2.csv')

In [178]:
sdf.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty', 'Month', 'Year', 'VWAP', 'Day_Perc_Change',
       'Trends'],
      dtype='object')

In [179]:
sdf.Series[sdf['Series']=='eq']='EQ'

c:\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [180]:
sdf.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,4.940000e+02,4.940000e+02,494.000000,494.000000,494.000000,494.000000,494.000000
mean,961.440789,961.070040,971.092713,951.052733,960.845648,960.945749,961.166498,6.056365e+06,5.469840e+09,1.361482e+05,3.605878e+06,61.759008,6.485830,2017.858300,973.395133,-0.000094
std,220.761549,220.091227,222.968974,218.714372,220.968590,221.029267,221.102384,5.451445e+06,4.770342e+09,8.557589e+04,2.840733e+06,9.924135,3.455131,0.694927,43.588432,0.026367
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.100000,613.780000,5.457170e+05,5.060941e+08,1.388600e+04,3.077410e+05,26.380000,1.000000,2017.000000,902.652009,-0.486038
25%,735.025000,736.187500,742.700000,729.012500,734.125000,734.462500,735.720000,3.148044e+06,3.350973e+09,9.246300e+04,2.064895e+06,55.142500,4.000000,2017.000000,936.244296,-0.007175
50%,956.750000,957.525000,964.775000,948.000000,956.025000,955.975000,955.060000,4.905804e+06,4.601808e+09,1.197605e+05,3.053880e+06,62.270000,6.500000,2018.000000,964.622624,0.000755
75%,1150.150000,1145.412500,1161.675000,1135.962500,1147.950000,1150.150000,1148.280000,7.303918e+06,6.042062e+09,1.551745e+05,4.332777e+06,68.767500,9.000000,2018.000000,1008.049047,0.009679
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.100000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,88.700000,12.000000,2019.000000,1069.856520,0.046811